* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header .container, 
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: grid;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 16px;
    background-color: rgb(116, 116, 116);
    color: white;
    justify-content: space-between;
}


header nav li {
    display: inline;
    margin-left: 20px;
    font-size: 24px;
}

header nav li a {
    padding: 16px;
    color: #fff;
    text-decoration: none;
}

#sobre img {
padding: 16px 16px;
width: 40%;
}

#sobre p {
    color: black;
}

#sobre {
    background-color: #f8f8f8;
}

h3 {
    margin-top: 16px;
}

h2 {
    border-bottom: solid #808080;;
}

section p {
    margin-bottom: 8px;
}

button {
    cursor: pointer;    color: #fff;
    background-color: #42b72a; 
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-transform: none;
    box-sizing: border-box;
}

p {
color: blue;
padding: 8px 0;
}

.container li {
    padding: 1%;
    max-width: 23%;
    list-style-type: none;
    float: left;
}

li img {
    width: 100%;
    }

    @media screen and (max-width: 767px) {
        header .container, 
        section .container {
            display: block;
            align-items: center;
            justify-content: space-between;
        }
        
        .container {
            display: block;
            width: 90%;
            margin: 0 auto;
        }
        
        header {
            width: 100%;
            padding: 20px;
            background-color: rgb(116, 116, 116);
            color: white;
            justify-content: space-between;
        }
        
        header nav li {
            font-size: 16px;
        }

        #sobre img {
            width: 100%;
            }

        h1 {
            font-size: 20px;
        }

        section #sobre {
            max-width: 100%;
        }
        .container li {
            max-width: 90%;
            list-style-type: none;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1023px){
        header .container, 
        section .container {
            display: block;
            align-items: center;
            justify-content: space-between;
        }
        
        .container {
            display: block;
            width: 90%;
            margin: 0 auto;
        }
        
        header {
            width: 100%;
            padding: 40px;
            background-color: rgb(116, 116, 116);
            color: white;
            justify-content: space-between;
        }
        
        header nav li {
            font-size: 20px;
        }

        #sobre img {
            width: 100%;
            }

        h1 {
            font-size: 30px;
        }

        section #sobre {
            max-width: 100%;
        }
        .container li {
            padding: 1%;
            max-width: 46%;
            list-style-type: none;
        }

        header nav li {
            display: inline;
            margin-left: 20px;
            font-size: 24px;
        }

        section p, h3 {
            font-size: 30px;
        }

        h2 {
            font-size: 35px;
            padding: 16px;
        }
    }